doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Newsletter - Suscribed
    link(rel='shortcut icon', type='image/x-icon', href='images/logo-icon.png')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='css/owl.carousel.css', rel='stylesheet')
    link(href='css/owl.theme.default.min.css', rel='stylesheet')
    link(href='css/magnific-popup.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    style.
      .hide-menu{
      margin-top: -106px;
      }
  body
    #menu-item.menu-item.hide-menu
      .container
        ul
          a(href='portada.html')
            li Home
          a(href='formulario.html')
            li Newsletter
    .main
      header.bg-img.header
        nav.navbar.navbar-default.navbar-ubutia
          .container
            .navigation-bar
              .row
                .col-xs-6
                  .logo
                    a(href='portada.html')
                      span.ubutia-icon
                .col-xs-6.text-right
                  .menu.m
                    a(href='#')
                      span.ion-navicon._ion-android-menu
        .container
          .row
            .intro-box
              .intro
                h1 We are ubutia agency
                p Creative digital agency based in US
      section#newsletter.subscribe.section.bg-img
        .container
          .row
            .col-sm-12
              p Inserted Data
              .form-inline
                .col-sm-6(style='margin-bottom: 10px;')
                  .form-group
                    #Name.form-control(style='height: auto; padding: 12px;')!=name
                .col-sm-6(style='margin-bottom: 10px;')
                  .form-group
                    #Surname.form-control(style='height: auto; padding: 12px;')!=surname
                .col-sm-6(style='margin-bottom: 10px;')
                  .form-group
                    #Company.form-control(style='height: auto; padding: 12px;')!=company
                .col-sm-6(style='margin-bottom: 10px;')
                  .form-group
                    #Phone.form-control(style='height: auto; padding: 12px;')!=phone
                .col-sm-6(style='margin-bottom: 10px;')
                  .form-group
                    #Email.form-control(style='height: auto; padding: 12px;')!=email
                .col-sm-6(style='margin-bottom: 10px;')
                  .form-group
                    #Interests.form-control(style='height: auto; padding: 12px;')!=interests
      footer.footer(style='background-color: white;')
        .container
          .row
            .col-sm-12
              p(style='color: black;')
                | Design
                font.logo-icon
                |  by Britxi & Iker
    script(src='js/jquery-3.1.1.js')
    script(src='js/bootstrap.min.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/jquery.magnific-popup.js')
    script(src='js/script.js')

